
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} Brand
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto

      -if !admin_signed_in?
        -# ログインしていないとき
        %li.nav-item
          = link_to "アカウント作成", new_admin_registration_path, class: "nav-link"
        %li.nav-item
          = link_to "ログイン", new_admin_session_path, class: "nav-link"
      -else
        %li.nav-item
          = link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link"