.footer {
  font-size: 1.4rem;
  padding: 4rem 0 2rem 0;

  &__logo-box {
    text-align: center;
  }

  &__logo {
    font-size: 4.5rem;
    margin-bottom: 2.5rem;

  }

  &__cta {
    margin: 1rem auto;
    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    flex: 0 0 50%;
    padding: 1rem;
  }

  &__nav-list {
    display: flex;
    justify-content: space-around; //横を等間隔に並べる。一番端もgutter有
    flex-wrap: wrap; //改行する
  }

  &__nav-item {
    display: inline-block;
    align-items: center;
    padding: .5rem 1rem;
    margin-right: 1.5rem;

    &:not(:last-child) {

    }
  }

  &__sns {
    flex: 0 0 50%;
    padding: 1rem;
  }

  &__sns-heading {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;

    @include respond(phone) {
      margin-bottom: .75rem;
    }
  }

  &__sns-contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  &__sns-description {
    padding-left: 5rem;
    flex: 0 0 50%;
    text-align: center;
    font-size: 1.6rem;

    @include respond(phone) {
      flex: 0 0 100%;
      padding: 0 0 .75rem 0;
    }
  }

  &__sns-list {
    //margin: 0 .5rem;
    flex: 0 0 50%;

    @include respond(phone) {
      flex: 0 0 100%;
    }
  }

  &__sns-icon {
    display: inline-block;
    font-size: 3rem;
    margin: 0 1rem;

    @include respond(phone) {
      margin: 0 .75rem;
    }
  }
}