.footer-main {
  border-top: 1px solid #e4e4e4;
}

.footer-title {
  text-align: center;
}

.footer-menu {
  text-align: left;
  width: 400px;
}

.footer-menu {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}

.footer-center {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}

.footer-right {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}