// ヘッダーの高さを指定
$header-height: 6rem;

// COLOR
$color-white: #fff;
$color-red-main: #dc5041;

$color-yellow-light0: #fdfce5;
$color-yellow-light1: #fff0ac;
$color-yellow-light: #eed06e;
$color-yellow-dark: #ffc400;

$color-grey-7: #777;
$color-grey-8: #888;
$color-gray-9: #999;
$color-grey-c: #ccc;

$color-orange: #ffb224;

// COLOR BTN
$btn-yellow: #ffc400;
$btn-green: #a5d409;