.wrapper
  .sidebar
    ここはサイドバーです

  .main-panel
    ここはメインパネルです

  .right-bar
    ここはらいとバーです

.container
  .row
    .col-sm-6.bg-color-1
      左側のゾーン

    .col-sm-6.bg-color-2
      右側のゾーン

.container-fluid
  .row
    .col-sm-6.bg-color-1
      左側のゾーン

    .col-sm-6.bg-color-2
      右側のゾーン
