/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// ここからimport
@import "./base/reset";

// ここから共通のCSS
* {
  box-sizing: border-box;
}

body {
  letter-spacing: .02rem;
  font-family: "Poppins", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Meryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
  //line-height: 1.35;
  font-size: 14px;
  margin: 80px 0 0 0;
  color: #333333;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: #dc5041;

  &:hover {
    color: #ffc400;
    text-decoration: none;
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.btn {
  border-radius: 50px;
  padding: 10px 25px;
  background: #dc5041;
  color: #fff;
  transition: all 0.2s ease;
  box-shadow: 0 2px 12px rgba(51,51,51,0.1);
  &:hover {
    color: #fff;
    background: #ffdc6a;
  }
}

.container {
  width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}
// ここまで共通のCSS

// ここからheader!
.header-main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  background-color: #fff;
  transition: all .4s;
}

.header-container {
  //width: 1200px; 幅はどうするか考え中
  height: 100%;
  position: relative;
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto;
  // 共通の.columnsで高さ指定したのでコメントアウト
  //.columns {
  //  height: 100%;
  //}
}

.header-bar-title {
  margin-top: auto;
  margin-bottom: auto;
}

.header-bar-section {
  margin-top: auto;
  margin-bottom: auto;
  ul {
    a {
      padding: 10px;
    }
    .btn {
      padding: 10px 20px;
    }
  }
}

.header-navi {
  margin: auto;
}

// ここからheader-image!
.header-visual .header-visual-content {
  flex: 0 0 50%;
  background: #eed06e;
  background-size: 100% 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding: 40px;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.header-visual {
  // header-bisual-bgの写真の高さに合わせた
  height: 600px;
}

.header-visual-bg {
  //height: 100%;
  //width: 100%;
  //flex: 0 0 50%;
  //background-size: cover;
  //background: url(top-image.jpg) no-repeat center center;
  //background-image: url("https://www.google.co.jp/search?q=%E7%94%BB%E5%83%8F&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjN066jr_PZAhUGjLwKHU9nDbYQ_AUICigB&biw=1440&bih=759#imgrc=US1ZnxDlCDERZM:");
  //background-image: image-path('top-image.jpg');
  //background-image: url('../images/rails.png');
  //background-color: red;
  //background-size: cover;
}

// ここからmain-contens共通
.main-contents {
  h2 {
    margin: 0;
    color: #dc5041;
    text-align: center;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.0rem;
  }
}

// ここからfeatures!
.section-features {
  text-align: center;
  background: #fcfcfc;
  //margin: 4px auto;
  padding: 40px 0;
  p {
    margin: 15px 0;
  }
}

.br {
  line-height: 1.65;
}

// ここからvoice
.section-voice {
  margin: 0;
  padding: 40px 0;

  .columns {

  }
}

.voice-box {
  position: relative;
  flex: 0 0 25%;
  text-align: center;
  padding: 0 20px 40px 20px;
}