
// ここからimport
@import "base/reset";
@import "util/utility";
@import "layouts/**/*";

// ここから共通のCSS
* {
  box-sizing: border-box;
}

body {
  letter-spacing: .02rem;
  font-family: "Poppins", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Meryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif !important;
  line-height: 1.35;
  font-size: 14px;
  margin: 80px 0 0 0;
  color: #333333;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 30px;
}

a {
  text-decoration: none;
  transition: all 0.2s ease;
  color: $main-red;

  &:hover {
    color: $btn-yellow;
    text-decoration: none;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.btn {
  border-radius: 50px;
  padding: 10px 25px;
  background: $main-red;
  color: #fff;
  transition: all 0.2s ease;
  text-align: center;
  box-shadow: 0 2px 12px rgba(51,51,51,0.1);
  &:hover {
    color: #fff;
    background: $btn-yellow;
  }
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px auto;
}

.section-comment {
  text-align: center;
  margin: 20px auto;
}
// ここまで共通のCSS

// ここからheader!
.header-main {
  //position: absolute;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 80px;
  background-color: #fff;
  transition: all .4s;
}

.header-container {
  //width: 1200px; 幅はどうするか考え中
  height: 100%;
  position: relative;
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto;
}

.header-bar-title {
  margin-top: auto;
  margin-bottom: auto;
}

.header-bar-section {
  margin-top: auto;
  margin-bottom: auto;
  ul {
    a {
      padding: 10px;
    }
    .btn {
      padding: 10px 20px;
    }
  }
}

.header-navi {
  margin: auto;
}

// ここからheader-image!
.header-visual .header-visual-content {
  flex: 0 0 50%;
  background: #eed06e;
  background-size: 100% 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding: 40px;
  color: #fff;
  margin-bottom: 0;
  text-align: center;
}

.header-visual {
  // header-bisual-bgの写真の高さに合わせた
  height: 480px;
}

//.header-visual-bg {
  //height: 100%;
  //width: 100%;
  //flex: 0 0 50%;
  //background-size: cover;
  //background: url(top-image.jpg) no-repeat center center;
  //background-image: url("https://www.google.co.jp/search?q=%E7%94%BB%E5%83%8F&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjN066jr_PZAhUGjLwKHU9nDbYQ_AUICigB&biw=1440&bih=759#imgrc=US1ZnxDlCDERZM:");
  //background-image: image-path('top-image.jpg');
  //background-image: url('../images/rails.png');
  //background-color: $main-red;
  //background-size: cover;
//}

// ここからmain-contens共通
.main-contents {
  h2 {
    margin: 0;
    color: $main-red;
    text-align: center;
    font-size: 1.5rem;
  }
  p {
    font-size: 1.0rem;
  }
}

// ここからfeatures!
.section-features {
  text-align: center;
  background: #fcfcfc;
  padding: 40px 0;
  p {
    margin: 15px 0;
  }
}

.br {
  line-height: 1.65;
}

// ここからbadbases!
.section-badcases {
  text-align: center;
  background-color: #f0ebdf;
  p {
    margin: 15px 0;
  }
}

// ここからvoice
.section-voice {
  margin: 0;
  padding: 40px 0;
  text-align: center;
  //background: #fff0ac;
}

.voice-wrap {
  margin-top: 30px;
}

.voice-box {
  position: relative;
  flex: 0 0 100%;
  text-align: center;
  padding: 20px;
  margin: 10px 10px;
  box-shadow: 0 8px 16px rgba(51,51,51,0.1);
  max-width: 550px;
  //background: #fff;
}

.voice-comment {
  flex: 0 0 50%;
  p {
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
  }
}

.voice-img {
  height: 180px;
  flex: 0 0 200px;
  margin: auto 0;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 5px;
  img {
    width: 100%;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }
}

.name {
  padding: 10px;
  width: 100%;
  color: $main-red;
  font-size : 18px;
  font-weight: bolder;
}


//.voice {
//  &__img {
//    height: 180px;
//    flex: 0 0 200px;
//    margin: auto 0;
//    margin-right: 10px;
//    overflow: hidden;
//    border-radius: 5px;
//  }
//  &__contents {
//    margin: 10px;
//  }
//  &__name {
//    padding: 10px;
//    width: 100%;
//    color: $main-red;
//    font-size : 18px;
//    font-weight: bolder;
//  }
//}

//ここからfooter
.footer-main {
  border-top: 1px solid #e4e4e4;
}

.footer-title {
  text-align: center;
}

.footer-menu {
  text-align: left;
  width: 400px;
}

.footer-menu {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}

.footer-center {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}

.footer-right {
  position: relative;
  flex: 0 0 33%;
  text-align: left;
  max-width: 400px;
}

//ここまでfooter