%footer.footer-main
  .container
    .columns
      .footer-menu
        .footer-title
          ここからはフッターです。
      .footer-center
        .footer-title
          ここはフッターの真ん中
      .footer-right
        .footer-title
          ここはフッターの右側