%header.header
  .header__left
    .header__logo
      =link_to 'Simple Things', '/'
  .header__right
    %ul
      %li.header__item
        =link_to '特徴', '#features'
      %li.header__item
        =link_to '内容', '#contents'
      %li.header__item
        =link_to 'お客様の声', '#voice'
      %li.header__item
        =link_to '料金', '#pricing'
      %li.header__item
        =link_to 'よくある質問', "#question"
      %li.header__item
        =link_to 'お片付けブログ', '#blog'
      %li.header__item
        =link_to '無料カウンセリング', '#contact', class: 'btn'